@model ResponsavelViewModel

<div class="row">
    <div class="col-12">
        <div class="form-group col-md-6 offset-md-3">
            <form action="/Ubs/Busca" method="post">
                <label for="entradaCPF">Insira o CPF do Responsável: </label>
                <div class="form-inline">
                    <input type="text" class="form-control buscar sem-borda" placeholder="CPF"
                           id="entradaCPF" name="ResponsavelCpf">
                    <button class="btn btn-outline-secondary blue sem-borda" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>