@{
    Layout = "~/Views/Shared/_LayoutConsulta.cshtml";
}

<section class="row consulta-usuario">
    <div class="col">
        <div class="container w90">
            <div class="row justify-content-md-center">
                <div class="col-md">
                    <h1 class="blue-text my-4">Carteiras de vacinação</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#vacina1">Bruna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#vacina2">Zoe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#vacina3">Asta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#vacina4">Minato</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="vacina1" class="row mb-4 vacinas">
                <div class="col-md">
                    <div class="row">
                        <div class="col-md my-4"><h2>Vacinas essenciais</h2></div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Contra pólipo <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>23/03/2013</small></li>
                                                <li class="list-group-item"><small><strong>Reforço: </strong>24/04/2014</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 3 meses</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card border-danger">
                                        <div class="card-body">
                                            <h6 class="card-title">Triplice (DPT)<span class="badge badge-danger float-right">Pendente</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong></small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 ano</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Contra sarampo <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">B.C.G. <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md my-4"><h2>Outras vacinas</h2></div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Febre Amarela <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>23/03/2013</small></li>
                                                <li class="list-group-item"><small><strong>Reforço: </strong>24/04/2014</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 3 meses</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Meningite B e C <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Tétano <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>05/01/2012</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">HPV <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">H1N1<span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2015</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>21/04/2015</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Hepatite B <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>12/06/2011</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="vacina2" class="row mb-4 vacinas d-none">
                <div class="col-md">
                    <div class="row">
                        <div class="col-md my-4"><h2>Vacinas essenciais</h2></div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Contra pólipo <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>23/03/2013</small></li>
                                                <li class="list-group-item"><small><strong>Reforço: </strong>24/04/2014</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 3 meses</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Triplice (DPT) <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>22/01/2013</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Contra sarampo <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">B.C.G. <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md my-4"><h2>Outras vacinas</h2></div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Febre Amarela <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>23/03/2013</small></li>
                                                <li class="list-group-item"><small><strong>Reforço: </strong>24/04/2014</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 3 meses</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Meningite B e C <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card border-danger">
                                        <div class="card-body">
                                            <h6 class="card-title">Tétano<span class="badge badge-danger float-right">Pendente</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong></small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 ano</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">HPV <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">H1N1<span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2015</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>21/04/2015</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="vacina3" class="row mb-4 vacinas d-none">
                <div class="col-md">
                    <div class="row">
                        <div class="col-md my-4"><h2>Vacinas essenciais</h2></div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Contra pólipo <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>23/03/2013</small></li>
                                                <li class="list-group-item"><small><strong>Reforço: </strong>24/04/2014</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 3 meses</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Triplice (DPT) <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>22/01/2013</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Contra sarampo <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">B.C.G. <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md my-4"><h2>Outras vacinas</h2></div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Meningite B e C <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Tétano <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>05/01/2012</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card border-danger">
                                        <div class="card-body">
                                            <h6 class="card-title">Hepatite A <span class="badge badge-danger float-right">Pendente</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong></small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 ano</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="vacina4" class="row mb-4 vacinas d-none">
                <div class="col-md">
                    <div class="row">
                        <div class="col-md my-4"><h2>Vacinas essenciais</h2></div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Contra pólipo <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>23/03/2013</small></li>
                                                <li class="list-group-item"><small><strong>Reforço: </strong>24/04/2014</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 3 meses</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Triplice (DPT) <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>22/01/2013</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Contra sarampo <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">B.C.G. <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 1 dia</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md my-4"><h2>Outras vacinas</h2></div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="row">
                                <div class="vacina px-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="card-title">Contra pólipo <span class="badge badge-success float-right">Em dia</span></h6>
                                            <ul class="list-group list-group-flush d-none">
                                                <li class="list-group-item"><small><strong>1ª dose: </strong>21/01/2011</small></li>
                                                <li class="list-group-item"><small><strong>2ª dose: </strong>22/02/2012</small></li>
                                                <li class="list-group-item"><small><strong>3ª dose: </strong>23/03/2013</small></li>
                                                <li class="list-group-item"><small><strong>Reforço: </strong>24/04/2014</small></li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Última vacina há 3 meses</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>